@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
   font-family: 'Assistant', sans-serif;
}

:root {
   --accent-color: #9E2B25;
   --bg-color: #fff;
}

body {
   /* overflow: hidden; */
}

.nav-header {
   background-color: var(--bg-color);
   width: 100%;
   padding: 1rem 0;
   display: flex;
   flex-direction: row;
}

.nav-header div {
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.nav-title {
   font-size: 3rem;
   text-transform: uppercase;
   font-weight: 100;
   display: flex;
   align-items: center;
   font-family: 'Cinzel Decorative', cursive;
}

nav {
   display: flex;
}

.nav-link {
   display: inline-flex;
   align-items: center;
   padding: 10px 20px;
   color: #222;
   font-size: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.nav-link-active {
   /* font-weight: bold; */
   color: var(--accent-color);
}

.nav-link:hover {
   font-weight: bold;
}

.social-icon-div {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.social-icon-div > * {
   margin: 0 20px;
}
/* 
.hero {
   height: 100vh;
   background-image: url(viktor_1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   display: flex;
   align-items: center;
   position: relative;
   z-index: -1;
} */
/* 
.hero::before {
   content: '';
   background-color: rgba(255, 255, 255, 0.1);
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -2;
} */
/* 
.hero section {
   color: white;
   margin-left: 30px;
} */

.main-title {
   font-size: 80px;
   font-weight: 100;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.main-subtitle {
   font-size: 60px;
   font-weight: 100;
   letter-spacing: 2px;
   text-transform: lowercase;  
}

.main-content {
   /* padding: 2rem 4rem; */
   display: flex;
   justify-content: center;
   margin: 0 2rem 2rem;
}

.home-content {
   display: flex;
   justify-content: center;
}

.home-left-container {
   /* width: 30%; */
   display: flex;
   flex-direction: column;
   margin: 0 2rem 2rem;
   height: 80vh;
   max-width: 800px;
   min-width: 350px;
   overflow: hidden;
}

.news-container {
   margin: 0 2rem;
   padding: 0 2rem 1rem;
   border-left: 1px solid #222;
   min-width: 300px;
   max-width: 400px;
   height: 80vh;
   color: #222;
   overflow: hidden;
}

h1 {
   font-size: 24px;
   font-weight: bold;
}

.news {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   height: 80vh;
}

.news::-webkit-scrollbar {
   display: none;
}

/* .single-news {
   margin: 10px;
} */

.news-title {
   font-size: 24px;
   font-weight: normal;
   /* font-weight: bold; */
}

.news-date {
   color: var(--accent-color);
   font-size: 18px;
   font-weight: bold;
}

.news-body {
   font-size: 18px;
}

p {
   font-size: 20px;
   padding: 0 0 1rem;
}

.about-content {
   width: 60%;
   min-width: 700px;
}

.about-content .img-container {
   float: left;
   width: 50%;
   margin: 0 2rem 1rem 0;
   max-width: 500px;
}

.about-text {
   margin: 0 0 1rem 0;
}

.contact-content {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* margin: auto; */
   width: 80%;
   /* max-width: 400px; */
}

.contact-info-container {
   margin: 0 1rem;
   padding: 0 2rem;
   border-left: 1px solid black;
   height: fit-content;
}

.contact-info-container p {
   padding: 0;
}

.form-container {
   width: 50%;
   max-width: 400px;
   border: 1px solid #333;
   margin: 0 1rem;
   padding: 1rem 2rem;
}

form {
   display: flex;
   flex-direction: column;
}

form input {
   margin: 1rem 0;
   border: 1px solid #333;
   padding: 0.25rem 1rem;
}

form textarea {
   margin: 1rem 0;
   border: 1px solid #333;
   padding: 0.25rem 1rem;
   resize: none;
   height: 15rem;
}

form input:focus {
   border: none;
   outline: 2px solid var(--accent-color);
   border-radius: 0;
}
form textarea:focus {
   border: none;
   outline: 2px solid var(--accent-color);
   border-radius: 0;
}

form button {
   padding: 0.5rem 0;
   border: 1px solid #333;
   background-color: #222;
   border-radius: 0;
   color: white;
   text-transform: uppercase;
}

.media-content {
   display: flex;
   justify-content: center;
}

.media-images {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   width: 70%;
   /* position: relative; */
   /* max-width: 500px; */
}

.media-image {
   display: block;
   padding: 10px;
   width: 100%;
   /* height: auto; */
   /* height: 200px; */
   /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5); */
   /* position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0; */
}

@media (max-width: 1200px) {
   .nav-header {
      flex-direction: column;
   }
}
@media (max-width: 800px) {
   .home-content {
      flex-direction: column;
   }

   .home-content .img-container {
      height: fit-content;
   }

   .about-content {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      min-width: 100%;
   }

   .about-content .img-container {
      float: none;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
   }

   .contact-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      width: 80%;
      /* max-width: 400px; */
   }

   .form-container {
      width: 100%;
      max-width: 400px;
      margin-bottom: 2rem;
   }

   .contact-info-container {
      border-left: 0;
   }
}

@media only screen and (max-width: 500px) {

   * { 
      font-size: calc(12px + 1vw); 
   }

}